@font-face {
    font-family: 'liberation_monoregular';
    src: url('LiberationMono-Regular-webfont.eot');
    src: url('LiberationMono-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('LiberationMono-Regular-webfont.woff2') format('woff2'),
         url('LiberationMono-Regular-webfont.woff') format('woff'),
         url('LiberationMono-Regular-webfont.ttf') format('truetype'),
         url('LiberationMono-Regular-webfont.svg#liberation_monoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

html {
    height: 100%;
    margin: 0;
    padding: 0
}

body {
    margin: 0;
    height: 100%;
    font-family: "liberation_monoregular", "Courier New";
    line-height: 1.5 ;
    background-color: WhiteSmoke
}

a {
    text-decoration: none;
    color: #009b77
}

a:hover {
    text-decoration: underline
}

.navbar {
    max-width: 500px;
    padding: 50px 0 10px 0;
    margin: auto
}

.navbar-ul {
    display: inline-block;
    margin: 0;
    padding: 5px 0 5px 0;
    margin-left: 20px
}

.nav-list {
    list-style-type: none;
    margin: 0 5px 0 10px
}

.pull-left {
    float: left
}

.pull-right {
    float: right
}

.container {
    padding: 10px 0 40px 0;
    max-width: 500px;
    margin: auto
}

.wrapper {
    min-height: 100%
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

@media (max-width: 800px) {
    .container {
        max-width: 600px;
        transition: 0.3s ease all
    }
    .navbar {
        max-width: 600px;
        transition: 0.3s ease all
    }
    .navigation {
        max-width: 600px;
        transition: 0.3s ease all
    }
}

@media (max-width: 650px) {
    .container {
        max-width: 83%
    }
    .navbar {
        max-width: 83%
    }

    .navbar-ul {
        margin-top: 5px
    }
    .navigation {
        max-width: 83%
    }
}
